/**
Abderahman Mohammed, mohaa220, 400578814
Zaid Seta, setaz, 400591432

Created: 8/03/2025

This is the css page, which holds a desktop version of the site along with a mobile friendly one.
*/


body {
    text-align: center;
    font-family: Georgia, Arial, sans-serif;
    background-color: lightblue;
    padding: 0;
    align-items: center;
    flex-direction: column;
}
canvas {
    border: 2px solid black;
    border-radius: 8px;
    margin:auto;
    
}

h1 {
    
}
.controls {
    display: flex;
    justify-content: center;
    background: white;
    padding: 2%;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 2px solid black;

}

.control-section {
    gap: 0.5rem;
    min-width: 140px;
    text-align: center;
    margin: 10px;
}
button {
    background: lightgray;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 1%;
}

button:hover {
    background: gray;
    
}
#clear {
    background: rgb(255, 85, 67);
}

#clear:hover {
    background: #a33125;
}
label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
}
input[type="text"], select {
    width: 100%;
    padding: 1%;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 5px;
}
input[type="color"] {
    background-color: rgb(255, 255, 255);
}
@media (max-width: 600px) {
    .controls {
        flex-direction: column;
        padding: 1%;
        align-items: center;
    }
    .control-section {
        padding-top: 1%;
    }
    canvas {
        width: 95%;
    }
}